In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('agora.csv')

In [4]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [36]:
df.tail()

    Marketing Spend  Administration  Transport     Area    Profit
45          1000.23       124153.04    1903.93    Dhaka  64926.08
46          1315.46       115816.21  297114.46  Rangpur  49490.75
47             0.00       135426.92       0.00      Ctg  42559.73
48           542.05        51743.15       0.00    Dhaka  35673.41
49             0.00       116983.80   45173.06      Ctg  14681.40

In [7]:
df.shape

(50, 5)

In [8]:
df.dtypes

Marketing Spend    float64
Administration     float64
Transport          float64
Area                object
Profit             float64
dtype: object

In [9]:
X = df.iloc[:, [0,1,2,4]]
y = df.iloc[:, 3]

In [12]:
X.head()

   Marketing Spend  Administration  Transport     Profit
0        114523.61       136897.80  471784.10  192261.83
1        162597.70       151377.59  443898.53  191792.06
2        153441.51       101145.55  407934.54  191050.39
3        144372.41       118671.85  383199.62  182901.99
4        142107.34        91391.77  366168.42  166187.94

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.30)

In [17]:
X_train.head()

    Marketing Spend  Administration  Transport     Profit
47             0.00       135426.92       0.00   42559.73
11        100671.96        91790.61  249744.55  144259.40
17         94657.16       145077.58  282574.31  125370.37
46          1315.46       115816.21  297114.46   49490.75
5         131876.90        99814.71  362861.36  156991.12

In [18]:
scaler = StandardScaler().fit(X_train)

In [19]:
scaler

StandardScaler()

In [20]:
scaler.mean_

array([ 70121.03314286, 126188.22885714, 205875.208     , 110277.60571429])

In [21]:
scaler.scale_

array([ 42258.18828344,  24873.80161179, 114191.52844158,  38957.6614227 ])

In [23]:
X_train_scaled = scaler.transform(X_train)

In [24]:
X_train_scaled

array([[-1.65934783,  0.37142256, -1.80289388, -1.73824283],
       [ 0.72295875, -1.38288547,  0.38417335,  0.872275  ],
       [ 0.5806242 ,  0.75940749,  0.67167068,  0.38741454],
       [-1.62821872, -0.41698567,  0.79900193, -1.56033123],
       [ 1.4613941 , -1.06029305,  1.37476181,  1.19908415],
       [-1.13453262,  1.15052422, -1.55476059, -1.15708372],
       [-0.56071886,  1.26662147,  0.04310707, -0.34819353],
       [ 1.424034  ,  0.77759851,  1.0333645 ,  1.16729271],
       [-0.21261331,  1.06592838, -1.03034769, -0.32840898],
       [-1.09990762, -1.20603193, -0.50681604, -0.99541693],
       [ 0.14512754, -0.49533759,  0.81257571,  0.21039313],
       [-0.34613607, -0.92992375,  0.07670974, -0.3464963 ],
       [-0.09630117,  2.2697508 , -0.76824445, -0.17955969],
       [-0.15883722,  0.12187044, -1.39931534, -0.32983925],
       [-0.19230718, -0.42401837, -1.00483783, -0.26541675],
       [ 0.12323853,  0.7215524 , -0.62898832, -0.11664113],
       [ 0.51756494,  0.37416239,  0.40974775,  0.61681691],
       [ 1.52619952,  0.84468958, -0.68444997,  1.17678789],
       [ 1.25925528, -0.70391568,  0.86789636,  1.01346828],
       [ 1.05074492,  0.43055627,  2.32862188,  2.10444419],
       [ 0.18675852, -0.1845588 ,  0.51204194,  0.42906385],
       [ 1.19317673,  0.90580127,  0.92597133,  1.07640353],
       [-1.63567834, -0.08182058, -1.78622075, -1.16412341],
       [-1.18063375, -2.42183723, -0.18048719, -0.74564398],
       [ 1.97170017, -1.00678936,  1.76947743,  2.07334787],
       [-1.65934783, -0.37004512, -1.40730359, -2.45384867],
       [-0.06125448, -0.82163552,  0.86603204, -0.0396229 ],
       [ 0.16382569, -1.08173609, -0.57184976, -0.04429336],
       [ 1.17899534,  1.2205288 ,  0.44344543,  0.57305915],
       [ 0.56184891,  0.04551581,  0.38500432,  0.80363947],
       [-0.57046963, -1.65398074, -0.0031313 , -0.35418183],
       [ 0.19566473,  1.10900624,  0.82197062,  0.02657794],
       [-0.10685629,  1.07920098, -0.86465983, -0.23802675],
       [-0.9810471 ,  0.0348954 , -0.04158266, -0.50232522],
       [-0.97890385, -0.30723807, -0.28968469, -0.82237215]])

In [25]:
X_train_scaled.mean(axis=0) # what is the meaning of axis = 0

array([ 1.39570895e-16, -8.43769499e-16, -1.17366434e-16, -8.88178420e-17])

In [26]:
X_train_scaled.std(axis=0)

array([1., 1., 1., 1.])

In [29]:
X_test.head()

    Marketing Spend  Administration  Transport     Profit
39         38558.51        82982.09  174999.30   81005.76
27         72107.60       127864.55  353183.81  105008.31
10        101913.08       110594.11  229160.95  146121.95
15        165349.20       122616.84  261776.23  129917.04
1         162597.70       151377.59  443898.53  191792.06

In [27]:
scaler = StandardScaler().fit(X_test)

In [28]:
scaler.mean_

array([ 82122.97466667, 110042.93133333, 238973.04357143, 116061.05066667])

In [30]:
scaler.scale_

array([ 51140.29354608,  30630.17512394, 125358.43945755,  41740.57626246])

In [31]:
scaler.transform(X_test)

array([[-0.85186184, -0.88347002, -0.51032658, -0.83983725],
       [-0.19584117,  0.58183209,  0.91107361, -0.26479607],
       [ 0.38697676,  0.01799463, -0.0782723 ,  0.7201841 ],
       [ 1.62741   ,  0.41050724,  0.18190388,  0.33195491],
       [ 1.57360703,  1.3494751 ,  1.63471632,  1.81432592],
       [ 1.21722875,  0.281713  ,  1.1505135 ,  1.60134203],
       [-0.34137983,  0.9634365 , -0.80577282, -0.20739318],
       [-1.06041735, -0.82703286, -0.59431446, -0.91666728],
       [-1.59523771, -1.9033447 , -1.90631795, -1.92588718],
       [ 0.08401839,  1.41922723,         nan,  0.16089403],
       [-1.30263712,  0.56608781, -1.62285742, -1.10928202],
       [-0.74409085, -1.91836289, -0.33458955, -0.62557619],
       [ 1.17293745, -0.60891462,  1.01465348,  1.20091512],
       [-0.15894345,  0.41592379,  0.51329784, -0.13676861],
       [ 0.18823094,  0.13492769,  0.44629246,  0.19659166]])

In [32]:
X_train_scaled

array([[-1.65934783,  0.37142256, -1.80289388, -1.73824283],
       [ 0.72295875, -1.38288547,  0.38417335,  0.872275  ],
       [ 0.5806242 ,  0.75940749,  0.67167068,  0.38741454],
       [-1.62821872, -0.41698567,  0.79900193, -1.56033123],
       [ 1.4613941 , -1.06029305,  1.37476181,  1.19908415],
       [-1.13453262,  1.15052422, -1.55476059, -1.15708372],
       [-0.56071886,  1.26662147,  0.04310707, -0.34819353],
       [ 1.424034  ,  0.77759851,  1.0333645 ,  1.16729271],
       [-0.21261331,  1.06592838, -1.03034769, -0.32840898],
       [-1.09990762, -1.20603193, -0.50681604, -0.99541693],
       [ 0.14512754, -0.49533759,  0.81257571,  0.21039313],
       [-0.34613607, -0.92992375,  0.07670974, -0.3464963 ],
       [-0.09630117,  2.2697508 , -0.76824445, -0.17955969],
       [-0.15883722,  0.12187044, -1.39931534, -0.32983925],
       [-0.19230718, -0.42401837, -1.00483783, -0.26541675],
       [ 0.12323853,  0.7215524 , -0.62898832, -0.11664113],
       [ 0.51756494,  0.37416239,  0.40974775,  0.61681691],
       [ 1.52619952,  0.84468958, -0.68444997,  1.17678789],
       [ 1.25925528, -0.70391568,  0.86789636,  1.01346828],
       [ 1.05074492,  0.43055627,  2.32862188,  2.10444419],
       [ 0.18675852, -0.1845588 ,  0.51204194,  0.42906385],
       [ 1.19317673,  0.90580127,  0.92597133,  1.07640353],
       [-1.63567834, -0.08182058, -1.78622075, -1.16412341],
       [-1.18063375, -2.42183723, -0.18048719, -0.74564398],
       [ 1.97170017, -1.00678936,  1.76947743,  2.07334787],
       [-1.65934783, -0.37004512, -1.40730359, -2.45384867],
       [-0.06125448, -0.82163552,  0.86603204, -0.0396229 ],
       [ 0.16382569, -1.08173609, -0.57184976, -0.04429336],
       [ 1.17899534,  1.2205288 ,  0.44344543,  0.57305915],
       [ 0.56184891,  0.04551581,  0.38500432,  0.80363947],
       [-0.57046963, -1.65398074, -0.0031313 , -0.35418183],
       [ 0.19566473,  1.10900624,  0.82197062,  0.02657794],
       [-0.10685629,  1.07920098, -0.86465983, -0.23802675],
       [-0.9810471 ,  0.0348954 , -0.04158266, -0.50232522],
       [-0.97890385, -0.30723807, -0.28968469, -0.82237215]])

In [33]:
X_train_scaled.mean(axis=0)

array([ 1.39570895e-16, -8.43769499e-16, -1.17366434e-16, -8.88178420e-17])

In [34]:
X_train_scaled.std(axis=0)

array([1., 1., 1., 1.])

# MinMaxScaler Sklearn

In [53]:
from sklearn.preprocessing import MinMaxScaler

In [55]:
X_train.head()

    Marketing Spend  Administration  Transport     Profit
47             0.00       135426.92       0.00   42559.73
11        100671.96        91790.61  249744.55  144259.40
17         94657.16       145077.58  282574.31  125370.37
46          1315.46       115816.21  297114.46   49490.75
5         131876.90        99814.71  362861.36  156991.12

In [73]:
min_max_scaler = MinMaxScaler().fit(X_train)

In [81]:
min_max_scaler

MinMaxScaler()

In [82]:
min_max_scaler.data_min_

array([    0.  , 65947.93,     0.  , 14681.4 ])

In [83]:
min_max_scaler.data_max_

array([153441.51, 182645.56, 471784.1 , 192261.83])

In [86]:
X_train.describe()

       Marketing Spend  Administration      Transport         Profit
count        35.000000       35.000000      35.000000      35.000000
mean      70121.033143   126188.228857  205875.208000  110277.605714
std       42875.128775    25236.942012  115858.646238   39526.416492
min           0.000000    65947.930000       0.000000   14681.400000
25%       37384.175000   107215.100000  122932.510000   93593.850000
50%       67532.530000   127056.210000  210797.670000  105733.540000
75%       97664.560000   146364.465000  297889.465000  137946.435000
max      153441.510000   182645.560000  471784.100000  192261.830000

In [87]:
min_max_scaler.feature_range

(0, 1)

In [84]:
X_train_min_max = min_max_scaler.transform(X_train)

In [85]:
X_train_min_max

array([[0.        , 0.59537619, 0.        , 0.15698988],
       [0.65609339, 0.22144991, 0.52936195, 0.72968626],
       [0.61689409, 0.67807418, 0.59894835, 0.62331739],
       [0.00857304, 0.42732899, 0.62976785, 0.19602019],
       [0.85946039, 0.29020966, 0.76912588, 0.80138177],
       [0.14453547, 0.76143971, 0.06005866, 0.28448478],
       [0.30256526, 0.78618555, 0.44680961, 0.46193942],
       [0.84917132, 0.68195155, 0.68649342, 0.79440736],
       [0.39843443, 0.74340833, 0.18698856, 0.46627976],
       [0.15407128, 0.25914579, 0.31370517, 0.3199513 ],
       [0.49695718, 0.41062848, 0.63305328, 0.58448237],
       [0.36166191, 0.31799755, 0.45494286, 0.46231175],
       [0.43046709, 1.        , 0.25042853, 0.49893437],
       [0.4132445 , 0.54218479, 0.09768292, 0.46596599],
       [0.40402679, 0.42582998, 0.19316302, 0.48009902],
       [0.49092889, 0.67000547, 0.28413435, 0.51273747],
       [0.5995274 , 0.59596018, 0.53555202, 0.67364377],
       [0.87730797, 0.69625184, 0.27071031, 0.79649041],
       [0.80379084, 0.36617059, 0.64644319, 0.7606613 ],
       [0.74636655, 0.60798038, 1.        , 1.        ],
       [0.50842246, 0.47687018, 0.56031151, 0.63245443],
       [0.78559263, 0.70927764, 0.66049977, 0.77446805],
       [0.00651864, 0.49876857, 0.0040356 , 0.28294041],
       [0.1318391 , 0.        , 0.39269043, 0.37474659],
       [1.        , 0.30161384, 0.8646636 , 0.99317808],
       [0.        , 0.43733425, 0.09574943, 0.        ],
       [0.44011904, 0.34107891, 0.64599195, 0.52963376],
       [0.5021067 , 0.28563913, 0.29796428, 0.52860915],
       [0.78168704, 0.77636101, 0.54370828, 0.66404417],
       [0.61172332, 0.52590999, 0.52956308, 0.71462897],
       [0.29987987, 0.16366665, 0.43561799, 0.4606257 ],
       [0.51087525, 0.75259026, 0.63532724, 0.54415692],
       [0.42756018, 0.74623735, 0.22709197, 0.48610784],
       [0.18680577, 0.52364628, 0.42631115, 0.42812595],
       [0.18739603, 0.45072141, 0.36626005, 0.35791393]])

# MaxAbsScaler

In [88]:
from sklearn.preprocessing import MaxAbsScaler

In [ ]:
max_abs_scaler = MaxAbsScaler().fit(X_train)

In [90]:
max_abs_scaler.max_abs_

array([153441.51, 182645.56, 471784.1 , 192261.83])

In [92]:
X_train.describe()

       Marketing Spend  Administration      Transport         Profit
count        35.000000       35.000000      35.000000      35.000000
mean      70121.033143   126188.228857  205875.208000  110277.605714
std       42875.128775    25236.942012  115858.646238   39526.416492
min           0.000000    65947.930000       0.000000   14681.400000
25%       37384.175000   107215.100000  122932.510000   93593.850000
50%       67532.530000   127056.210000  210797.670000  105733.540000
75%       97664.560000   146364.465000  297889.465000  137946.435000
max      153441.510000   182645.560000  471784.100000  192261.830000

# RobustScaler

In [94]:
from sklearn.preprocessing import RobustScaler

In [95]:
robust_scaler = RobustScaler().fit(X_train)

In [96]:
robust_scaler

RobustScaler()